<div class="bg-white p-6 rounded-2xl shadow max-w-4xl mx-auto">
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-xl font-bold">Data Mahasiswa</h2>
    <a href="/mahasiswa/create" class="bg-blue-600 text-white px-4 py-2 rounded">+ Tambah Data</a>
  </div>

  <table class="w-full border-collapse">
    <thead>
      <tr class="bg-gray-100 border-b">
        <th class="p-3 text-left">NIM</th>
        <th class="p-3 text-left">Nama Lengkap</th>
        <th class="p-3 text-center">Aksi</th>
      </tr>
    </thead>
    <tbody>
      <% mahasiswa.forEach((mhs)=> { %>
        <tr class="border-b">
          <td class="p-3">
            <%= mhs.nim %>
          </td>
          <td class="p-3">
            <%= mhs.nama %>
          </td>
          <td class="p-3 text-center">
            <a href="/mahasiswa/edit/<%= mhs.id %>"
              class="text-yellow-600 border border-yellow-600 px-3 py-1 rounded">Edit</a>
            <a href="/mahasiswa/delete/<%= mhs.id %>" class="text-red-600 border border-red-600 px-3 py-1 rounded ml-2"
              onclick="return confirm('Yakin hapus?')">Hapus</a>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</div>